[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "bink-pypi"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
pytest = "*"
ptpython = "*"
xenon = "*"
isort = "*"

[packages]
ubiquity-performance = {editable = true,path = "."}
locust = "==1.5.2"
geventhttpclient-wheels = "*"
faker = "*"
pyjwt = "*"
requests = "*"
psycopg2-binary = "*"
urllib3 = "*"
click = "*"
arrow = "*"
shared-config-storage = {index = "bink-pypi", version = "*"}
azure-keyvault-secrets = "*"
azure-identity = "*"
redis = "*"
sqlalchemy = "*"
itsdangerous = "==2.0.1"
jinja2 = "<3"  # To fix: https://stackoverflow.com/questions/71718167/importerror-cannot-import-name-escape-from-jinja2, remove after upgrading locust/flask
markupsafe = "<2.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
