[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
ubiquity-performance = {editable = true,path = "."}
locustio = "*"
geventhttpclient-wheels = "*"
faker = "*"
pyjwt = "*"
shared-config-storage = {git = "ssh://git@git.bink.com/libs/shared-config-storage.git",version = "*"}
requests = "*"
psycopg2 = "*"
urllib3 = "*"
click = "*"
arrow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
