[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "gitlab-libraries"
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==21.8b0"
mypy = "*"
pytest = "*"
ptpython = "*"
xenon = "*"

[packages]
ubiquity-performance = {editable = true,path = "."}
locust = "==1.5.2"
geventhttpclient-wheels = "*"
faker = "*"
pyjwt = "*"
requests = "*"
psycopg2-binary = "*"
urllib3 = "*"
click = "*"
arrow = "*"
shared-config-storage = {index = "bink-pypi", version = "*"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
